{% extends "base.html" %}

{% block header %}
<script>
    const add_friend_url = "{{ url_for('add_friend') }}"
    const remove_friend_url = "{{ url_for('remove_friend') }}"
</script>
<script src="{{ url_for('static', filename='scripts/user.js') }}"></script>
{% endblock %}

{% block main_content %}
    {% if query %}
        <h1>{{ query.user_id }}</h1>
        <p>{{ query.username }}</p>
        <p>{{ query.permission.title() }}</p>

        {% if not query.user_id == g.user_id %}
        <ul>
            <li>
                <input 
                    type="button" 
                    value="{% if b_is_friend %}Remove{% else %}Add{% endif %} Friend" 
                    onclick="{% if b_is_friend %}remove_friend(this){% else %}add_friend(this){% endif %}"
                    data-user-id="{{ g.user_id }}"
                    data-friend-id="{{ query.user_id }}"
                />
            </li>
            
            {% if b_is_friend %}
            <li>
                <a href="{{ url_for('P_chat', friend_id=query.user_id) }}">Open Chat</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    {% endif %}
{% endblock %}