{% extends "base.html" %}

{% block header %}
<script>
    function add_friend(e) {
        let data = new FormData();
        data.append("add_friend_id", {{ query.user_id }});
        data.append("user_id", {{ g.user_id }});

        let status;
        fetch(
            "{{ url_for('add_friend') }}",
            {
                method: "POST",
                body: data
            }
        )
        .then(res => {
            status = res.status;
        })
        .then(data => {
            if (status === 200) window.location.reload();
        })
        .catch(err => {
            console.log("Network error.");
        });
    }

    function remove_friend(e) {
        let data = new FormData();
        data.append("remove_friend_id", {{ query.user_id }});
        data.append("user_id", {{ g.user_id }});

        let status;
        fetch(
            "{{ url_for('remove_friend') }}",
            {
                method: "POST",
                body: data
            }
        )
        .then(res => {
            status = res.status
        })
        .then(data => {
            if (status === 204) window.location.reload();
        })
        .catch(err => {
            console.log("Network error.");
        });
    }
</script>
{% endblock %}

{% block main_content %}
    {% if query %}
        <h1>{{ query.user_id }}</h1>
        <p>{{ query.username }}</p>
        <p>{{ query.permission.title() }}</p>

        {% if not query.id == g.user_id %}
            <input 
                type="button" 
                value="{% if b_is_friend %}Remove{% else %}Add{% endif %} Friend" 
                onclick="{% if b_is_friend %}remove_friend(){% else %}add_friend(){% endif %}"
            />
        {% endif %}
    {% endif %}
{% endblock %}