{% extends "base.html" %}

{% block header %}
<script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script> <!-- socketio client-side -->
<script>
    const userId = {{ g.user_id }};

    let messages = {{ messages | tojson }}; // jinja conversion from python to json 

    let recipientIds = [{{ friend_id }}];
</script>
<script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
{% endblock %}

{% block main_content %}
    <section id="chat">
        <article id="receiver_box">
            <p></p>
        </article>
        <article id="sender_box">
            <p></p>
        </article>
    </section>

    <input type="text" placeholder="Enter a message..." id="chat-input" />
{% endblock %}