{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block main_content %}
    <header>
        <h1>Home.</h1>
    </header>

    {% if g.user_id and g.username %}
    <section>
        {% if query %}
        <h1>Friends:</h1>
        <ul>
            {% for r in query %}
            <li>
                <a href="{{ url_for('P_user', username=r.username) }}">
                    <article>
                        <h2>{{ r.username }}</h2>
                        <p>{{ r.id }}</p>
                    </article>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    {% endif %}
{% endblock %}