{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block main_content %}
    {% if g.user_id and g.username %}
    <section>
        {% if query %}
        <h1>Friends:</h1>
        <ul id="friends-list">
            {% for r in query %}
            <li>
                <a href="{{ url_for('P_user', username=r.username) }}">
                    <!-- <h2>{{ r.username }}</h2> -->
                    <!-- <p>{{ r.id }}</p> -->
                    <figure>
                        <img src="{{ url_for('static', filename='images/pfp') }}/{{ r.pfp }}" aria-hidden="true" />
                        <figcaption>{{ r.username }}</figcaption>
                    </figure>
                </a> 
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h1>Looks like you have no friends!</h1>
        <p>Use the searchbar to find people for a real-time chat.</p>
        {% endif %}
    </section>
    {% endif %}
{% endblock %}