<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}{% endblock %}
    <title>hoot!!!</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('P_home') }}">Home</a></li>
            <li>            
                <form action="{{ url_for('html_search') }}" method="GET">
                    <input type="text" id="search" name="search" {% if search %} value="{{ search }}" {% else %} placeholder="Search Users" {% endif %} />
                    <input type="submit" value="Search" />
                </form>
            </li>
            {% if g.user_id and g.username %}
            <li><a href="{{ url_for('P_user', username=g.username )}}">{{ g.username }}</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('P_register') }}">Register</a></li>
            <li><a href="{{ url_for('P_login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>

    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
</body>
</html>