<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}" />
    {% block header %}{% endblock %}

    <title>hoot!!!</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('P_home') }}">
                <img src="{{ url_for('static', filename='images/hoot_temp.png') }}" alt="hoot logo" />
            </a></li>
            <li>            
                <form action="{{ url_for('html_search') }}" method="GET" class="nav-search">
                    <input type="text" id="search" name="search" value="{{ search }}" placeholder="search a username..." />
                    <input type="image" src="{{ url_for('static', filename='images/search_light.svg') }}" alt="Search for a username." />
                </form>
            </li>
            {% if g.user_id and g.username %}
            <li><a href="{{ url_for('P_user', username=g.username )}}" class="nav-cta">{{ g.username }}</a></li>
            <li><a href="{{ url_for('logout') }}" class="nav-btn">log out</a></li>
            {% else %}
            <li><a href="{{ url_for('P_login') }}" class="nav-btn">log in</a></li>
            <li><a href="{{ url_for('P_register') }}" class="nav-cta">sign up</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>

    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
</body>
</html>