@use 'base'
@use 'sass:color'

.redirect
    position: relative

    $dot-color: base.$primary_darkest
    $n_dots_x: 17
    $n_dots_y: 17
    $dot_size: 2.5px
    &::before // background-color
        content: ""
        z-index: -2
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%

        background-color: base.$secondary 
    &::after // dots
        content: ""
        position: absolute

        $dot_gap_x: calc(100% / $n_dots_x) // width / N dots
        $dot_gap_y: calc(100% / $n_dots_y) // height / N dots
        width: 100%
        height: 100%

        left: 0
        top: 0
        z-index: -1

        background-image: radial-gradient(circle at $dot_size $dot_size, color.change($dot-color, $alpha: 0.2) $dot_size, transparent 0)
        background-size: $dot_gap_x $dot_gap_y
        background-position: $dot_gap_x*0.5 $dot_gap_y*0.5
        mask-image: linear-gradient(to bottom, black 25%, transparent 105%)