@use 'sass:color'
    
$primary-light: #ffffff
$primary-mid: #d9f3fc
$primary-dark: #073b4c
$primary-darkest: #000000
$secondary: #ef476f
$accent-one: #ffd166
$accent-two: #06d6a0

html, body
    padding: 0
    margin: 0
:root
    font-family: 'Rubik', 'Calibri', Helvetica, sans-serif
    background-color: $primary-light
    color: $primary-dark