@use 'sass:color'
    
$primary-light: #ffffff
$primary-mid: #d9f3fc
$primary-dark: #073b4c
$primary-darkest: #000000
$secondary: #ef476f
$accent-one: #ffd166
$accent-two: #06d6a0

html, body
    padding: 0
    margin: 0
:root
    font-family: 'Rubik', 'Calibri', Helvetica, sans-serif
    background-color: $primary-light
    color: $primary-dark

@media(prefers-reduced-motion: no-preference)
    @view-transition
        navigation: auto

    ::view-transition-group(page-content)
        animation-duration: 1s
        animation-timing-function: ease

@mixin avatar($radius: 10vw)
    width: $radius
    aspect-ratio: 1

    padding: 0
    margin: 0

    background-color: $primary-light

    mask: url('/static/images/pfp/circle.svg') center / contain no-repeat
    --webkit-mask: url('/static/images/pfp/circle.svg') center / contain no-repeat
    object-fit: cover