@use 'sass:color'
@use 'base'
@use 'nav_color' as nav
    
nav
    $n_dots_x: 80
    $n_dots_y: 4

    position: relative
    &::before // background color
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -2
        background-color: nav.$background-color
    &::after // dots
        content: ""
        position: absolute

        $dot_gap_x: calc(100% / $n_dots_x) // width / N dots
        $dot_gap_y: calc(100% / $n_dots_y) // height / N dots
        width: 100%
        height: 100%

        left: 0
        top: 0
        z-index: -1

        background-image: radial-gradient(circle at 1px 1px, color.change(nav.$dot_color, $alpha: 0.2) 1px, transparent 0)
        background-size: $dot_gap_x $dot_gap_y
        background-position: $dot_gap_x*0.5 $dot_gap_y*0.5
        mask-image: linear-gradient(to left, black 50%, transparent 105%)

    ul
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: flex-start
        gap: 0.5em

        margin: 0
        padding: 14px 1.5vw

        li
            list-style-type: none

            img
                height: 35px
                width: auto

                transition: transform ease 0.2s
                &:hover
                    transform: scale(1.05) rotate(-1.5deg)

            &:has(.nav-search)
                margin: 0 auto

.nav-search
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: center

    input
        $_text_height: 22px
        $_input_padding_y: 5px 
        $_input_padding_x: 7px

        border: none
        padding: $_input_padding_y $_input_padding_x

        &[type='text']
            font-weight: 800
            
            width: 18vw
            height: $_text_height

            border-radius: 5px 0 0 5px

            ::placeholder
                color: color.change(base.$primary-darkest, $alpha: 0.5)

        &[type='image']
            $_image_size: 20px
            width: $_image_size
            height: auto

            $_height_diff: $_text_height - $_image_size
            padding: $_input_padding_y+($_height_diff/2) $_input_padding_x+($_height_diff/2)
            border-radius: 5px
            transform: translateX(-5px)

            background-color: base.$primary-light

            transition: background-color ease 0.2s, transform ease 0.2s
            &:hover
                background-color: base.$primary-mid
                transform: translateX(-5px) scale(1.05)
                box-shadow: 0 0 12px 2px color.change(base.$primary-mid, $alpha: 0.4)

%nav-btn-base
    display: block
    font-size: 1.2em
    font-weight: 500
    padding: 5px 1.5vw
    text-decoration: none
.nav-btn
    @extend %nav-btn-base
    padding: 5px 1vw 
    color: nav.$btn-color

    position: relative
    &::before // underline
        content: ""
        position: absolute
        left: 10%
        bottom: 0

        width: 0
        height: 2px
        background-color: nav.$btn-color

        transition: width ease 0.2s

    transition: color ease 0.2s
    &:hover
        color: nav.$btn-hover-color

        &::before
            background-color: nav.$btn-hover-color
            width: 80%
.nav-cta
    @extend %nav-btn-base
    color: base.$accent-one
    border: base.$accent-one solid 2.5px
    background-color: transparent
    border-radius: 10px

    transition: color ease 0.2s, border-color ease 0.2s, box-shadow ease 0.5s, transform ease 0.2s
    &:hover
        color: color.adjust(base.$accent-one, $lightness: -15%)
        border-color: color.adjust(base.$accent-one, $lightness: -15%)
        box-shadow: 0 0 12px 2px color.change(base.$accent-one, $alpha: 0.4)
        transform: scale(1.02)