@use 'base'
@use 'sass:math'
@use 'dot_pattern'

// @keyframes scale-easeOutElastic
//     0%
//         transform: scale(1)
//     16%
//         transform: scale(1.112)
//     28%
//         transform: scale(0.9545)
//     44%
//         transform: scale(1)
//     100%
//         transform: scale(1)

#friends-list
    display: flex
    flex-flow: row wrap
    gap: 1em

    a
        text-decoration: none

    li
        position: relative
        list-style: none

        figure
            display: flex
            flex-flow: column nowrap
            justify-content: center
            align-items: center

            *
                padding: 0
                margin: 0

            img
                $pfp-rad: 10vw
                width: $pfp-rad
                aspect-ratio: 1

                padding: 0
                margin: 0

                background-color: base.$primary-light

                mask: url('/static/images/pfp/circle.svg') center / contain no-repeat
                --webkit-mask: url('/static/images/pfp/circle.svg') center / contain no-repeat
                object-fit: cover

            figcaption
                text-align: center
                color: base.$primary-darkest
                font-size: 1.3em

        padding: 0.5em 10px

        @include dot_pattern.dot_background(
            $n-dots-x: 15, $n-dots-y: 15, $dot-size: 1px, 
            $dot-color: base.$secondary, 
            $background-color: base.$primary-mid, $border-radius: 15px,
            $direction: to bottom
        )