@use 'base'
@use 'nav'
@use 'form'
@use 'auth_redirect'

main
    display: grid
    grid-templates-rows: 1fr
    grid-template-columns: 1fr 1fr
    grid-template-areas: "login signup"

    min-height: 100vh

    #login
        grid-area: login

        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: flex-start

        margin: 0
        padding: 0

        color: base.$primary-light
        h1
            margin: 0
            padding: 0
            margin-top: 200px
            margin-bottom: 10px
            font-size: 2.5em

        p
            margin: 0
            margin-bottom: 35px
            font-size: 1.5em
        a
            border: solid base.$primary-light 2px
            border-radius: 10px 
            background-color: transparent

            text-decoration: none
            color: base.$primary-light
            font-size: 1.1em

            padding: 8px 2.3rem

            cursor: pointer

            transition: transform ease 0.2s, background-color ease 0.2s, color ease 0.2s, border ease 0.2s
            &:hover
                transform: scale(1.1)
                background-color: base.$primary-light
                color: base.$secondary
                border: solid base.$primary-light 2px
    #signup
        grid-area: signup

        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: flex-start

        margin: 0
        padding: 0
        
        h1
            margin: 100px 0

        form
            width: 50%

            display: flex
            flex-flow: column nowrap
            align-items: center
            justify-content: center

            margin: 1rem

            input
                &[type='text'], &[type='password']
                    width: 100%

nav
    &::before
        background-color: base.$primary-dark 
    &::after
        background-image: none